.graphiql-container {
  height: 100vh;
  /* width: 100vw; */
}


.graphiql-explorer-root {
  padding : 0px !important; 
  padding-left : 8px !important;
}
.nomnoml {
  padding: 50px; 
  height: 789px; /*To compensate graphiql explorer paddings */
  width: 500px;
  overflow: scroll;
  margin: auto;
  background-color: rgb(240, 240, 240);
}

.wrapNom {
  text-align:center;
}

.modal-body {
  padding: 1rem 5rem 1rem 1rem !important;
}

#drag{
  background-color:rgb(238, 238, 238);
  border-right: 1px solid rgb(226, 226, 226);
  border-left: 1px solid rgb(226, 226, 226);
  width : 15px;
  cursor: col-resize;
}